html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.site-container {
	max-width: 1000px;
	background-color: #ffffff;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap; /* 1 */
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: black;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: bold;
}

h1 {
	font-family: 'Port Lligat Slab', serif;
	color: #bc0000;
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

a {
	color: #68d5ca;
}

#wrapper {
	background: #ffffff url(../img/red.jpg) repeat;

}

#logo {
	text-align: center;
	padding: 40px 0px 40px 0px;
}

#header {
	height: auto;
	margin: auto;
}

nav ul {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	padding-bottom: 0.5em;
	list-style: none;

}

#nav a {
    display: block;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
		font-family: 'Roboto', sans-serif;
		font-weight: bold;
		font-size: 1.2em;
		letter-spacing: 0.1em;
		color: #bc0000;
		border: none;
	}

#nav a:hover {
    text-decoration: none;
    color: #ffd800;
}

@media all and (min-width: 500px) {
	nav li {
		width: 100%;
		display: inline-block;
	}
}

@media all and (min-width: 750px) {
	nav li {
		width: calc(100% / 3);
	}
}

@media all and (min-width: 900px) {
	nav li {
		width: calc(100% / 6);
	}
}

#page {
	margin: 0 auto;
	padding: 30px 0px;
}

/* Content */

main h1 {
	padding: 0px 0px 30px 30px;
}

.post {
	overflow: hidden;
	margin-bottom: 50px;
	border-bottom: 1px solid #aeca3b;
}

.post + .post {
	margin-top: 1.5em;
}

.post .title {
	padding: 0px 0px 0px 30px;
	letter-spacing: -1px;
}

.post p {
	 padding: 0px 0px 0px 30px;
	 text-align: justify;
}

#box1 {
	width: 100px;
	height: 100px;
	background-color: #bc0000;
	border: solid 5px #ffffff;
	box-shadow: 2px 2px 2px #888888;

}

#box2 {
	width: 100px;
	height: 100px;
	background-color: #ffd800;
	border: solid 5px #ffffff;
	box-shadow: 2px 2px 2px #888888;
}

#box3 {
	width: 100px;
	height: 100px;
	background-color: #68d5ca;
	border: solid 5px #ffffff;
	box-shadow: 2px 2px 2px #888888;
}

#box4 {
	width: 100px;
	height: 100px;
	background-color: #aeca3b;
	border: solid 5px #ffffff;
	box-shadow: 2px 2px 2px #888888;
}

#box1, #box2, #box3, #box4 {
	margin: auto;
	margin-bottom: 25px;
}

#box1 p, #box2 p, #box3 p, #box4 p {
	padding-left: 10px;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	letter-spacing: 0.07em;
	font-weight: bold;

}

#footer {
	margin: 0 auto;
	padding: 50px 0 15px 0;
	background-color: #bc0000;
	font-family: 'Port Lligat Slab', serif;
}

#footer p {
	margin: 0px;
	padding-top: 10px;
	letter-spacing: 1px;
	line-height: normal;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
}

#banner {
	margin: 0px auto;
}

#banner img {
	width: 100%;
	height: auto;
	background: url(../img/banner.jpg) no-repeat left bottom;
}
